body {
    background: rgb(175, 225, 175);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Poppins', sans-serif; ;
}

a,
.btn {
    transition: all 300ms ease;
}

nav, 
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
a {
    color: #006400;
    text-decoration: none;
    text-decoration: white;
}

a:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: white;
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}